:root {
  --main-color: #333333;
  --secondary-color: #FF9900;
  --white: #FFF;
  --footer-color-text: #CACACA;
}

@font-face {
  font-family: 'Montserrat';
  src:
  local('Montserrat'), local('MontserratRegular'), local('Montserrat-Regular'),
  url('../fonts/MontserratRegular.woff2') format('woff2'),
  url('../fonts/MontserratRegular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src:
  local('Montserrat'), local('MontserratMeidum'), local('Montserrat-Meidum'),
  url('../fonts/MontserratMedium.woff2') format('woff2'),
  url('../fonts/MontserratMedium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src:
  local('Montserrat'), local('MontserratSemiBold'), local('Montserrat-SemiBold'),
  url('../fonts/MontserratSemiBold.woff2') format('woff2'),
  url('../fonts/MontserratSemiBold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src:
  local('Montserrat'), local('MontserratSemiBold'), local('Montserrat-SemiBold'),
  url('../fonts/MontserratSemiBold.woff2') format('woff2'),
  url('../fonts/MontserratSemiBold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src:
  local('Montserrat'), local('MontserratExtraBold'), local('Montserrat-ExtraBold'),
  url('../fonts/MontserratExtraBold.woff2') format('woff2'),
  url('../fonts/MontserratExtraBold.woff') format('woff');
  font-weight: 800;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
}

input, textarea {
  border-radius: 0px;
}

.main-page {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

/* global */

.section-offset {
  padding: 0 0 100px 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden {
  display: none;
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.link {
  color: var(--main-color);
  font-size: 18px;
  font-style: normal;
}

.text {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 19.5px;
}

.first-title {
  font-size: 70px;
  font-weight: 800;
  font-style: normal;
  line-height: 85px;
  color: var(--white);

}

.second-title {
  font-size: 48px;
  line-height: 59px;
  color: var(--main-color);
  font-style: normal;
  font-weight: normal;
}

.third-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  font-style: normal;
  color: var(--main-color);
}

.btn {
  color: var(--white);
  background-color: #FF9900;
  text-align: center;
  outline: none;
  -webkit-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.btn:focus, .btn:hover {
  background: #F7B045;
}

.btn:active {
  background: #E1670E;
}
/* header */

.header {
  position: relative;
  z-index: 150;
  background: var(--white);
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
  max-height: 100px;
}

.header-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 15px;
}

.nav-list {
  position: relative;
  z-index: 3;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.nav-list.active-search {
  -webkit-transform: translateX(-80%);
      -ms-transform: translateX(-80%);
          transform: translateX(-80%);
}


.header__nav-list {
  margin-right: 85px;
}


.header__search {
  display: block;
  max-height: 24px;
}

.header__seacrh_exit, .header__search {
  -webkit-transition: outline 0.2s ease, outline-offset 0.2s ease;
  -o-transition: outline 0.2s ease, outline-offset 0.2s ease;
  transition: outline 0.2s ease, outline-offset 0.2s ease;
  outline: none;
}

.header__seacrh_exit {
  height: 24px;
}

.header__search_margin-right {
  margin-right: 20px;
}


.nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-search {
  position: absolute;
  min-height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 539px;

  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);

          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 16px;

  padding-left: 32px;
  -webkit-transition: visibility .1s ease-in-out, opacity .1s ease-in-out, -webkit-transform .1s ease-in-out;
  transition: visibility .1s ease-in-out, opacity .1s ease-in-out, -webkit-transform .1s ease-in-out;
  -o-transition: visibility .1s ease-in-out, transform .1s ease-in-out, opacity .1s ease-in-out;
  transition: visibility .1s ease-in-out, transform .1s ease-in-out, opacity .1s ease-in-out;
  transition: visibility .1s ease-in-out, transform .1s ease-in-out, opacity .1s ease-in-out, -webkit-transform .1s ease-in-out;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;


}
.none {
  display: none;
}
.form-search.active {
  opacity: 1;
  visibility: visible;
  z-index: 100;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform: translateX(47%);
      -ms-transform: translateX(47%);
          transform: translateX(47%);
}


.form-search__input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #ADADAD;
}


.form-search__input::-moz-placeholder {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #ADADAD;
}


.form-search__input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #ADADAD;
}


.form-search__input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #ADADAD;
}


.form-search__input::placeholder {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #ADADAD;
}



.form-search__input {
  width: 412px;

  border: none;
  outline: none;
  border-bottom: 1px solid #DCDCDC;

  -webkit-transition: border-color .2s ease-in-out;

  -o-transition: border-color .2s ease-in-out;

  transition: border-color .2s ease-in-out;

  padding: 16px 0 10px 0;
  margin-right: 14px;
}

.button__burger {
  max-width: 30px;
  min-height: 23px;
}

.nav-item:not(:last-child) {
  margin-right: 85.5px;
}


.nav-item {
  -webkit-transition: margin 0.3s ease;
  -o-transition: margin 0.3s ease;
  transition: margin 0.3s ease;
}

.header__link_display {
  display: block;
  max-width: 224px;
  max-height: 72px;
}

.header__link {
  position: relative;
  z-index: 3;
}

.nav-item__link {
  display: block;
  line-height: 22px;
  font-weight: 600;
  -webkit-transition: outline 0.2s ease, outline-offset 0.2s ease, border 0.2s ease, color 0.2s linear;
  -o-transition: outline 0.2s ease, outline-offset 0.2s ease, border 0.2s ease, color 0.2s linear;
  transition: outline 0.2s ease, outline-offset 0.2s ease, border 0.2s ease, color 0.2s linear;
}

.nav-item__svg {
  display: block;
}


.nav-item__svg rect, .nav-item__svg path {
  -webkit-transition: fill 0.3s linear, stroke 0.3s linear;
  -o-transition: fill 0.3s linear, stroke 0.3s linear;
  transition: fill 0.3s linear, stroke 0.3s linear;
}

.header__seacrh_exit svg rect, .header__seacrh_exit svg circle {
  -webkit-transition: fill .3s linear, stroke .3s linear;
  -o-transition: fill .3s linear, stroke .3s linear;
  transition: fill .3s linear, stroke .3s linear;
}

.nav-item__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #DCDCDC;
  min-width: 412px;
  margin-right: 14px;
}
.search-wrapper svg:not(:last-child) {
  margin-right: 20px;
}

/* focus, hover, active */

.nav-item__link:focus:not(:active) {
  outline-offset: 5px;
  outline: 2px solid var(--secondary-color);
}

.nav-item__link:hover {
  border-bottom: 2px solid var(--secondary-color);
}

.nav-item__link:active {
  color: #E1670E;
  border-bottom: 2px solid #E1670E;
}

.header__search:focus:not(:active) .nav-item__svg {
  outline-offset: 4px;
  outline: 2px solid var(--secondary-color);
}

.header__search:hover .nav-item__svg rect {
  fill: var(--secondary-color);
}

.header__search:hover .nav-item__svg path {
  stroke: var(--secondary-color);
}

.nav-item:last-child:hover {
  cursor: pointer;
}

.form-search__input:focus {
  border-color: var(--secondary-color);
}

.header__seacrh_exit:focus:not(:active) svg {
  outline-offset: 4px;
  outline: 2px solid var(--secondary-color);
}

.header__seacrh_exit:hover svg rect {
  fill: var(--secondary-color);
}

.header__seacrh_exit:hover svg circle {
  stroke: var(--secondary-color)
}

.header__seacrh_exit:active svg rect {
  fill: black;
}

.header__seacrh_exit:active svg circle {
  stroke: black;
}



/* section slider */

.slider-item__bg-1 {
  background-image: url('../img/slider_bg-1.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 620px;
}

.slider-item__bg-2 {
  background-image: url('../img/slider_bg-2.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 620px;
}

.slider-item__bg-3 {
  background-image: url('../img/slider_bg-3.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 620px;
}

.hero__content {
  position: relative;
  z-index: 1;
  padding: 100px 0 100px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper.hero__swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hero__pagination.swiper-bullet-pagination {
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  width: 15px;
  height: 15px;
  background: var(--white);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
  margin-right: 15px;
}

.slider-item__title {
  margin: 0;
  max-width: 837px;
  margin-bottom: 24px;
}

.slider-item__text {
  margin: 0;
  max-width: 790px;
  margin-bottom: 90px;

  font-weight: bold;
  font-size: 24px;
  line-height: 29.26px;
  letter-spacing: 0.25px;

  color: var(--white);
}

.slider-item__button {
  padding: 24.83px 36.88px;
  outline: none;
  -webkit-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
  min-width: 280px;
  min-height: 78px;

  font-size: 23.4581px;
  font-weight: 700;
  line-height: 29px;
}

.slider-item__button:focus, .slider-item__button:hover {
  background: rgba(255, 153, 0, 0.7);
}

.slider-item__button:active {
  background: #E1670E;
}

.slider-item__button_md-size {
  min-width: 280px;
}

.btn__text {
  font-weight: bold;
  font-size: 23.4581px;
  line-height: 29px;
  color: var(--white);
  letter-spacing: 0.25px;
}

/* about section */
.about-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 622px;
}

.about-item__first-card {
  min-width: 868px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.31))), url('../img/section-about_bg.png');
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url('../img/section-about_bg.png');
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url('../img/section-about_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 424px;
}

.about-item__first-card .about-item__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  min-height: 196px;
  min-width: 100%;
}

.about-item__text_first-card {
  max-width: 452px;

  font-weight: 700;
  line-height: 200%;
  color: var(--white);
  letter-spacing: 0.15px;
}

.about-list__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 870px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-list__wrapper .about-item {
  min-width: 868px;
  outline-offset: -1px;
  outline: 1px solid var(--footer-color-text);
  max-width: 100%;
  padding: 65px 118px 65px 60px;
}

.about-item__bg-1 {
  background-image: url('../img/about-1.svg');
  background-repeat: no-repeat;
  background-size: 190px;
  background-position: center left;

}

.about-item__bg-2 {
  background-image: url('../img/about-2.svg');
  background-repeat: no-repeat;
  background-size: 190px;
  background-position: center left;
}

.about-item__content {
  padding-left: 240px
}

.about-item__text {
  max-width: 450px;
  line-height: 200%;
}


.about__title {
  margin: 0;
  text-indent: 2px;
  padding-top: 1px;
  margin-bottom: 20px;
}

.about__text {
  margin: 0;
  max-width: 1235px;
  line-height: 200%;
  margin-bottom: 50px;
}
.about-item__title {
  margin: 0;
  margin-bottom: 8px;
  letter-spacing: 0.25px;
}
.about-item__text {
  margin: 0;
}


.about-item__btn {
  width: 175px;
  height: 60px;
  background-color: transparent;
  border: 3px solid var(--secondary-color);
  font-weight: bold;
  outline: none;
  -webkit-transition: background 0.2s ease, border 0.2s ease;
  -o-transition: background 0.2s ease, border 0.2s ease;
  transition: background 0.2s ease, border 0.2s ease;
}

.about-item__btn:focus, .about-item__btn:hover {
  background: var(--secondary-color);
  border: none;
}

.about-item__btn:active {
  background: #E1670E;
  border: none;
}
/* section how */
.how__title {
  margin: 0;
  margin-bottom: 50px;
}

.how-item__title {
  margin: 0;
  margin-bottom: 8px;
  line-height: 32px;
  letter-spacing: 0.25px;
}

.how-item__text {
  margin: 0;
  margin-bottom: 50px;
  max-width: 758px;

  line-height: 32px;
}

.how__slider-item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how__slider-item-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-item__link {
  display: inline-block;
  padding: 20px 38px;
  height: 60px;

}

.slider-item__link_yellow {
  background-color: var(--secondary-color);
  color: var(--white);
  min-width: 175px;

  font-size: 16px;
  line-height: 20px;
  font-weight: bold;

  margin-right: 32px;

  -webkit-transition: background-color .3s ease-in-out;

  -o-transition: background-color .3s ease-in-out;

  transition: background-color .3s ease-in-out;
}

.slider-item__link_black {
  outline: 1px solid var(--main-color);
  max-width: 147px;
  font-size: 16px;
  line-height: 20px;

  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out, outline .3s ease-in-out;

  -o-transition: background-color .3s ease-in-out, color .3s ease-in-out, outline .3s ease-in-out;

  transition: background-color .3s ease-in-out, color .3s ease-in-out, outline .3s ease-in-out;
}

.how-slider__img {
  display: block;
  max-width: 870px;
  min-height: 460px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}


.how__step-list {
  margin-bottom: 45px;
}

.step-item:not(:last-child) {
  margin-right: 86px;
}

.step-item__link {
  display: block;
  line-height: 22px;

  color: var(--main-color);
  font-size: 18px;
  font-style: normal;

  -webkit-transition: color 0.3s linear, outline-offset 0.2s ease, outline 0.2s ease;

  -o-transition: color 0.3s linear, outline-offset 0.2s ease, outline 0.2s ease;

  transition: color 0.3s linear, outline-offset 0.2s ease, outline 0.2s ease;
}


/* focus, hover, active */
.step-item__link_active {
  color: #E1670E;
}

.step-item__link:focus {
  outline-offset: 5px;
  outline: 2px solid var(--secondary-color);
}

.step-item__link:hover {
  color: var(--secondary-color);
}

.step-item__link:active {
  color: #E1670E;
}

.slider-item__link_yellow:focus:not(:active), .slider-item__link_yellow:hover {
  background-color: #F7B045;
}

.slider-item__link_yellow:active {
  background-color: #E1670E;
}

.slider-item__link_black:focus:not(:active), .slider-item__link_black:hover, .slider-item__link_black:active {
  background-color: #666666;
  color: var(--white);
  outline: none;
}

.slider-item__link_black:active {
  background-color: #000000;
}

/* faq section */

.faq__title {
  margin: 0;
  margin-bottom: 30px;
  min-height: 70px;
}

.accordion__list {
  margin-top: -3px;
}

.accordion__title {
  margin: 0;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0.25px;
  color: var(--main-color);

  -webkit-transition: color .3s ease;

  -o-transition: color .3s ease;

  transition: color .3s ease;

  outline: none;
}

.accordion__item-text {
  margin: 0;
  line-height: 200%;
  color: var(--main-color);
}

.ui-widget {
  font-family: inherit;
}

.ui-accordion .ui-accordion-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  background: none;

  border: none;
  border-top: 1px solid var(--footer-color-text);
  border-bottom: 1px solid var(--footer-color-text);

  margin: 0;
  padding: 30px 0;
}

.ui-accordion .ui-accordion-content {
  border: none;
  padding: 0 0 40px 0;
  max-width: 1003px;
}

.accordion__svg {
  -webkit-transition: -webkit-transform .1s ease;
  transition: -webkit-transform .1s ease;
  -o-transition: transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
}

.accordion__svg path, .accordion__svg ellipse{
  -webkit-transition: fill .3s ease;
  -o-transition: fill .3s ease;
  transition: fill .3s ease;
}



/* focus, hover, active */
.ui-accordion .ui-state-focus  {
  outline: none;
  border-color: var(--secondary-color);
}

.ui-accordion .ui-state-focus .accordion__title, .ui-accordion .ui-state-hover .accordion__title, .ui-accordion .ui-state-hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.ui-accordion .ui-state-focus .accordion__svg ellipse{
  fill: var(--secondary-color);
}

.ui-accordion .ui-state-focus .accordion__svg path {
  fill: var(--white);
}

.ui-accordion .ui-state-hover .accordion__svg ellipse {
  fill: var(--secondary-color);
}

.ui-accordion .ui-state-hover .accordion__svg path {
  fill: var(--white);
}

.ui-accordion .ui-state-active .accordion__svg {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.accordion__top.ui-state-active .accordion__title {
  color: var(--main-color);
}

.accordion__top.ui-state-active .accordion__svg ellipse {
  fill: #ECECEC;
}

.accordion__top.ui-state-active .accordion__svg path {
  fill: #666666;
}

.accordion__top.ui-state-active {
  border-bottom: none;
}

.ui-accordion .ui-state-active {
  border-color: var(--footer-color-text);
}

/* footer */
.footer {
  height: 594px;
  background: #222222;
}


.footer-container {
  padding: 50px 15px;
}

.footer-list {
  max-width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}


.footer-item__link {
  display: block;
  margin-bottom: 20px;
}

.footer-item__logo {
  display: inherit;
}

.footer-item__nav {
  margin-bottom: 90px;
}

.social-item:not(:last-child) {
  margin-right: 25px;
}

.social-item__link {
  display: block;
  -webkit-transition: outline 0.1s ease, outline-offset 0.1s ease;
  -o-transition: outline 0.1s ease, outline-offset 0.1s ease;
  transition: outline 0.1s ease, outline-offset 0.1s ease;
}

.social-item__svg path {
  -webkit-transition: fill 0.2s linear;
  -o-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.social-item__link:focus {
  outline-offset: 5px;
  outline: 2px solid var(--secondary-color);
}

.social-item__link:hover .social-item__svg path{
  fill: var(--secondary-color);
}


.social-item__link:active .social-item__svg path {
  fill: #E1670E;
}

.social-item__link svg {
  display: block;
}
.footer-nav-item {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.footer-nav-item__link {
  display: block;
  color: var(--footer-color-text);
  line-height: 200%;
  font-weight: 600;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;

  -webkit-transition: outline 0.1s ease, outline-offset 0.1s ease, color 0.2s linear;

  -o-transition: outline 0.1s ease, outline-offset 0.1s ease, color 0.2s linear;

  transition: outline 0.1s ease, outline-offset 0.1s ease, color 0.2s linear;
}

.footer-nav-item__link:focus {
  outline-offset: 2px;
  outline: 2px solid var(--secondary-color);
}

.footer-nav-item__link:hover {
  color: var(--secondary-color);
}

.footer-nav-item__link:active {
  color: #E1670E;
}

.footer-item__form {
  max-width: 100%;
}

.form-list {
  max-width: inherit;
}


.form-item:not(:nth-child(3)):not(:last-child) {
  margin-bottom: 25px;
}

.form-item:nth-child(3) {
  margin-bottom: 28px;
}

.form-item:nth-child(2) {
  max-width: 100%;
}

.form__input {
  width: 100%;
  padding: 14px 0 14px 24px;
  background-color: #414141;
  border: none;
  outline: none;
  color: var(--footer-color-text);
  line-height: 32px;
  -webkit-transition: background 0.2s ease, -webkit-transform 0.2s ease;
  transition: background 0.2s ease, -webkit-transform 0.2s ease;
  -o-transition: background 0.2s ease, transform 0.2s ease;
  transition: background 0.2s ease, transform 0.2s ease;
  transition: background 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
}

.form__textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  padding: 14px 0 0 24px;
  background-color: #414141;
  color: var(--footer-color-text);
  border: none;
  outline: none;
  resize: none;
  line-height: 32px;
  -webkit-transition: background 0.2s ease, color 0.2s linear;
  -o-transition: background 0.2s ease, color 0.2s linear;
  transition: background 0.2s ease, color 0.2s linear;
}

.form__input:focus, .form__input:hover, .form__textarea:focus, .form__textarea:hover{
  background: #666666;
}

.form__input:focus, .form__textarea:focus {
  color: var(--white);
}


.form__input::-webkit-input-placeholder {
  color: var(--footer-color-text);
  line-height: 32px;
}


.form__input::-moz-placeholder {
  color: var(--footer-color-text);
  line-height: 32px;
}


.form__input:-ms-input-placeholder {
  color: var(--footer-color-text);
  line-height: 32px;
}


.form__input::-ms-input-placeholder {
  color: var(--footer-color-text);
  line-height: 32px;
}


.form__input::placeholder {
  color: var(--footer-color-text);
  line-height: 32px;
}

.form__textarea::-webkit-input-placeholder {
  color: var(--footer-color-text);
}

.form__textarea::-moz-placeholder {
  color: var(--footer-color-text);
}

.form__textarea:-ms-input-placeholder {
  color: var(--footer-color-text);
}

.form__textarea::-ms-input-placeholder {
  color: var(--footer-color-text);
}

.form__textarea::placeholder {
  color: var(--footer-color-text);
}
.form__text {
  margin: 0;
  margin-bottom: 25px;
  max-width: 408px;
  font-size: 48px;
  line-height: 59px;
  color: var(--footer-color-text);
}

.form-item__btn {
  padding: 19px 52px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  margin-right: 18px;
  min-width: 269px;
}

.form-item__text {
  position: relative;
  margin: 0;
  line-height: 200%;
  color: var(--footer-color-text);
}

.footer-item__text {
  margin-left: 10px;
  line-height: 200%;
  max-width: 363px;
  color: var(--footer-color-text);
}

.footer-item:nth-child(1) {
  margin-right: 351px;
}
.footer-item:nth-child(2) {
  margin-right: 236px;
}
.footer-item:nth-child(3) {
  padding-top: 87px;
}
.form-item__input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-appearance: none;

  width: 1px;
  height: 1px;
  visibility: hidden;
}

.check__box {
  position: absolute;
  left: -20px;
  bottom: 2px;
  width: 16px;
  height: 1em;
  border: 1px solid var(--footer-color-text);
}


.form-item__input:checked + .check__box {
  background-image: url('../img/daw.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 2px;
}
/* */

.slider__item:not(:first-child) {
  display: none;
}

/* media */
@media only screen /* общий медиа запрос с 1770 до 320 */
and (max-width: 1770px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .section-offset {
    padding-bottom: 80px;
  }

  /* header */
  .header__nav-list {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    visibility: hidden;
    opacity: 0;

    min-width: 420px;
    min-height: 770px;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

        -ms-flex-direction: column;

            flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;

    margin: 0;
    padding: 162px 106px 217px 50px;

    background-color: var(--white);
    background-size: 420px 768px;
    -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, .2);
            box-shadow: 0px 5px 40px rgba(0, 0, 0, .2);
  }

  .header__nav-list.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .nav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }


  .nav-item__link {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
  }

  .button__burger {
    display: block;
  }

  .button__burger_exit {
    position: absolute;
    top: 38px;
    left: 50px;
    z-index: 10;
  }



  .header__img {
    max-width: 150px;
  }
  .form-search.active {
    -webkit-transform: translateX(-540px);
        -ms-transform: translateX(-540px);
            transform: translateX(-540px);
  }

  /* slider */
  .first-title {
    margin-bottom: 16px;
  }

  .slider-item__text {
    margin-bottom: 60px;
  }

  .slider-item__button {
    font-weight: 700;
    font-size: 24px;
  }
  /* about */
  .about__title {
    margin-bottom: 10px;
  }

  .about__text {
    margin-bottom: 61px;
  }

  .about-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about-list__wrapper {
    max-width: 100%;
  }

  .about-list__wrapper .about-item:first-child {
    margin-bottom: 32px;
  }

  .about-item__first-card {
    min-width: 640px;
  }

  .about-item__text {
    max-width: unset;
  }

  .about-list__wrapper .about-item {
    min-width: 640px;
  }

  /* how we work */
  .how__step-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px;
  }

  .how__title {
    max-height: 58px;
  }

  .slider-item__link_yellow {
    margin-right: 28px;
  }

  /* faq */
  .faq-item__link {
    font-size: 20px;
  }

  .faq__title {
    margin-bottom: 32px;
  }

  /* footer */
  .footer-item:nth-child(1), .footer-item:nth-child(2) {
    margin: 0;
    width: 100%;
  }

  .footer-item:nth-child(3) {
    display: none;
  }

  .form-item__btn {
    min-width: 240px;
    min-height: 58px;
    padding: 19px 37.5px;
  }

  .form__input {
    max-width: 100%;
  }

  .form__textarea {
    max-width: 100%;
    margin-bottom: 32px;
  }

  .footer-item__nav {
    display: none;
  }

  .footer {
    height: auto;
  }

  .footer-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-item:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2
  }
}

@media only screen  /* медиа запрос приводит сайт с 1770 до 1024( к 1024 шаблону )  */
and (min-width: 1024px)
and (max-width: 1770px) {
  /* header */
  .header-container {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .header.adaptive-search .header__link {
    -webkit-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
            transform: translateX(-250px);
  }

  /* slider */
  .slider-item__bg-1 {
    background-image: url('../img/slider-1_1024.jpg');
    background-size: 100%;
  }

  .hero__content {
    padding: 160px 77px;
  }

  .first-title {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 16px;
  }

  .slider-item__text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
  }

  /* about */

  .about-item__first-card {
    background: url('../img/about-first-card-bg__1024.jpg') no-repeat;
    background-size: cover;
    padding-top: 444px;
    margin-bottom: 32px;
  }

  .about-list__wrapper .about-item {
    padding: 65px 0 65px 77px;
  }

  .about-list__wrapper .about-item__content {
    padding: 35px 0 35px 240px;
  }
  /* how we work */
  .how__step-list {
    margin-bottom: 50px;
  }

  .how-item__text {
    max-width: 437px;
    margin-bottom: 25px;
  }

  .how-slider__img {
    padding-top: 12px;
  }

  /* faq */
  .accordion__title {
    max-width: 756px;
    font-size: 20px;
  }

  /* footer */

  .footer-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen
and (min-width: 768px) /* медиа запрос приводит сайт с 1024 до 768 ( к 768 шаблону ) */
and (max-width: 1023px) {
  /* header */
  .header {
    max-height: 69px;
  }
  .header-container {
    padding-top: 10px;
    padding-bottom: 11px;
    max-height: 69px;
  }

  .header__nav-list {
    padding-top: 144px;
    padding-bottom: 198px;

    min-height: 732px;
  }

  .button__burger_exit {
    top: 21px;
  }

  .form-search.active {
    -webkit-transform: translateX(-350px);
        -ms-transform: translateX(-350px);
            transform: translateX(-350px);
  }

  .form-search {
    max-width: 350px;
  }

  .form-search__input {
    max-width: 200px;
  }

  .header.adaptive-search .header__link {
    -webkit-transform: translateX(-150px);
        -ms-transform: translateX(-150px);
            transform: translateX(-150px);
  }

  /* slider */
  .first-title {
    font-size: 50px;
    line-height: 61px;
  }

  .slider-item__text {
    font-size: 18px;
    line-height: 22px;
  }

  .hero__content {
    padding: 160px 40px;
  }

  .slider-item__bg-1 {
    background-image: url('../img/slider-1_768.jpg');
  }

  /* about */

  .about-item__first-card {
    min-width: unset;
    background: url('../img/about-first-card-bg__768.jpg') no-repeat;
    background-size: cover;
    padding-top: 454px;
    margin-bottom: 32px;
  }

  .about-item__text_first-card {
    max-width: 366px;
  }

  .about-item__first-card .about-item__content {
    padding: 34px 40px;
  }

  .about-list__wrapper .about-item {
    min-width: unset;
    padding: 35px 46px 35px 40px;
  }

  .about-list__wrapper .about-item__content {
    padding-left: 130px;
  }

  .about-list__wrapper .about-item__bg-1, .about-list__wrapper .about-item__bg-2 {
    background-size: 114px 99px;
  }

  /* how we work */
  .how__slider-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .how-slider__img {
    max-width: unset;
    width: 100%;
    min-height: unset;
    margin-bottom: 38px;
  }

  .how-item__text {
    margin-bottom: 25px;
    max-width: 667px;
  }

  /* faq */
  .accordion__title {
    max-width: 580px;
  }

  /* footer */
  .footer-item:nth-child(2) {
    margin-bottom: 50px;
  }

  .footer-item__link {
    margin-bottom: 16px;
  }
}
@media only screen /* медиа запрос приводит секцию about к виду в 320px */
and (max-width: 640px) {
  .about-item__first-card {
    background-image: url('../img/about-first-card-bg__320.jpg');
    background-size: 100%;
    min-width: unset;
    padding-top: calc(71.5%);
    margin-bottom: 32px;
  }

  .about-item__first-card .about-item__content {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    min-height: unset;
  }

  .about-item__text_first-card {
    color: var(--main-color);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .about-item__btn {
    color: var(--secondary-color);
    padding: 11px 14px 14px 15px;
    width: 162px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
    border: 2px solid var(--secondary-color)
  }

  .about-list__wrapper .about-item {
    outline: none;
    padding: 0;
    min-width: unset;
  }

  .about-list__wrapper .about-item__content {
    padding-left: 0;
    padding-top: 61px;
  }

  .about-list__wrapper .about-item__bg-1, .about-list__wrapper .about-item__bg-2  {
    background-size: 64px 49px;
    background-position: left top;
  }

  .about-list__wrapper .about-item__bg-1 {
    background-image: url('../img/about-1_320.svg');
  }

  .about-list__wrapper .about-item__bg-2 {
    background-image: url('../img/about-2_320.svg');
  }

  .about-item__title {
    font-size: 18px;
    line-height: 22px;
    max-width: 100%;
    margin-bottom: 4px;
    letter-spacing: -0.15px;
  }

  .about-item__text {
    max-width: 100%;
    font-size: 14px;
    line-height: 2;
  }

  .about-item__btn {
    margin-bottom: 2px;
  }
}

@media only screen
and (min-width: 320px) /* медиа запрос приводит сайт с 768 до 320 ( к 320 шаблону ) */
and (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-offset {
    padding: 0 0 60px 0;
  }

  .second-title {
    font-size: 24px;
    line-height: 29px;
    text-indent: unset;
  }

  /* header */
  .header {
    min-height: 69px;
  }
  .form-search {
    z-index: 100;
    padding-right: 32px;
    width: 100%;
    min-height: 69px;
    border-radius: 0;
  }

  .form-search.active {
    -webkit-transform: translate(-17px, 17px);
        -ms-transform: translate(-17px, 17px);
            transform: translate(-17px, 17px);
  }

  .form-search__input {
    width: 100%;
    margin-right: 2px;
  }

  .header.adaptive-search .header__link {
    display: none;
  }

  .header__img {
    max-width: 110px;
  }

  .nav-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .header__nav-list {
    padding: 78px 41px 71px 15px;
    min-height: 377px;
    min-width: 320px;
  }

  .header.adaptive-search .button__burger {
    display: none;
  }

  .button__burger_exit {
    top: 23px;
    left: 15px;
  }

  /* slider */
  .first-title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 7px;
  }

  .slider-item__text {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 34px;
  }
  .slider-item__bg-1 {
    background-image: url('../img/slider-1_320.jpg');
    min-height: unset;
  }

  .slider-item__button {
    font-size: 12px;
    line-height: 15px;
    min-width: unset;
    width: 162px;
    min-height: 40px;
    padding: 13px 0 12px 0;
    margin: 0 42.5px;
  }

  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 60px 21px 60px 22px;
  }

  /* about */
  .about__title {
    margin-bottom: 20px;
  }
  .about__text {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 13px;
  }
  /* how we work */
  .how__title {
    margin-bottom: 23px;
  }

  .step-item:not(:last-child) {
    margin: 0;
  }

  .step-item__link {
    font-size: 14px;
    line-height: 17px;
  }
  .how__slider-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .how-slider__img {
    min-height: unset;
    margin-bottom: 16px;
    width: 100%;
  }

  .how__step-list {
    margin-bottom: 15px;
  }

  .how-item__title {
    font-size: 18px;
    letter-spacing: -0.15px;
  }

  .how-item__text {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 16px;
  }

  .slider-item__link_yellow {
    display: block;
    min-width: 162px;
    font-size: 12px;
    line-height: 15px;
    margin-right: 0;
    height: 40px;
    float: left;
    padding-top: 12px;
  }

  .slider-item__link_black {
    display: block;
    float: right;
    min-width: 118px;
    height: 40px;
    padding: 11px 29px 14px 30px;
    font-size: 12px;
    line-height: 15px;
  }

  /* faq */
  .faq__title {
    margin-bottom: 16px;
  }

  .accordion__title {
    max-width: 100%;
    font-size: 14px;
    line-height: 171%;
    font-weight: 500;
  }

  .accordion__svg {
    min-width: unset;
    max-width: 30px;
    min-width: 30px;
    max-height: 30px;
  }

  /* footer */
  .footer-container {
    padding: 32px 15px;
  }

  .form__text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 22px;
  }

  .form__input {
    padding: 11px 0 14px 20px;
    min-height: 60px;
    max-width: 100%;
  }
  .form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 32px;
  }
  .form__input::-moz-placeholder, .form__textarea::-moz-placeholder {
    font-size: 14px;
    line-height: 32px;
  }
  .form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
    font-size: 14px;
    line-height: 32px;
  }
  .form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
    font-size: 14px;
    line-height: 32px;
  }
  .form__input::placeholder, .form__textarea::placeholder {
    font-size: 14px;
    line-height: 32px;
  }

  .form__textarea {
    padding: 13px 0 0 20px;
    max-width: 100%;
    margin: 0;
  }

  .form-item__btn {
    display: block;
    min-width: 180px;
    min-height: 40px;
    font-size: 12px;
    line-height: 15px;
    padding: 12px 23px 13px 24px;
    margin: 0 auto 11px;
  }

  .form-item__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }


  .check__box {
    position: static;
  }
  .form-item:nth-child(3) {
    margin-bottom: 25px;
  }

  .form-item__input {
    margin-left: 6px;
  }

  .form-item:last-child {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #595959;
  }

  .footer-item__logo {
    max-width: 131px;
    margin: 0 auto;
  }

  .footer-item__link {
    margin-bottom: 16px;
  }

  .social-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .social-item__svg {
    max-width: 40px;
    max-height: 40px;
  }

  .social-item:not(:last-child) {
    margin-right: 16px;
  }
}

@media only screen /* медиа запрос 2к */
and (min-width: 2000px) {
  .container {
    max-width: 2560px;
  }

  .first-title {
    font-size: 100px;
    max-width: 1200px;
  }

  .second-title {
    font-size: 70px;
  }
  /* header */
  .nav-item__link {
    font-size: 26px;
  }

  /* slider */
  .slider .slider-item__text {
    font-size: 32px;
    max-width: 1100px;
  }

  .slider .slider-item__button {
    font-size: 32px;
  }

  /* about */
  .about__text {
    max-width: 2000px;
    font-size: 26px;
  }

  .about-item__title {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .about-item__text {
    font-size: 24px;
    max-width: 1050px;
  }

  .about-list__wrapper .about-item:first-child {
    margin-bottom: 32px;
  }

  .about-list__wrapper {
    max-width: unset;
  }

  .about-item__first-card {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 32px;
  }

  /* how */
  .step-item__link {
    font-size: 32px;
  }

  .step-item:not(:last-child) {
    margin: 0;
  }

  .how__step-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .how-item__title {
    font-size: 40px;
  }

  .how-item__text {
    font-size: 35px;
    line-height: 200%;
    max-width: 1400px;
  }

  .how-slider__img {
    min-height: 100%;
    max-width: 437px;
  }

  .slider-item__link_yellow {
    font-size: 22px;
  }

  .slider-item__link_black {
    font-size: 22px;
  }

  /* faq */
  .faq-item__link {
    font-size: 38px;
  }

  /* footer */

  .footer {
    height: auto;
  }
  .footer-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-nav-item__link {
    font-size: 26px;
  }

  .form__text {
    font-size: 52px;
    max-width: unset;
  }

  .footer-item__text {
    font-size: 24px;
    max-width: 745px;
  }

  .footer-item:nth-child(3) {
    padding: 0;
  }
}

@media only screen /* контейнер для 2560+ */
and (min-width: 2561px) {
  .container {
    max-width: 3840px;
  }

}
